<form autocomplete="off" action="#" th:action="@{'/duncan/model' + ${link}}"
	th:object="${model}" method="post" class="form-horizontal" role="form">
	<div class="form-group">
		<div class="col-md-7 col-sm-9">
			<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
				class="validation-message"></label> <input type="text"
				th:field="*{name}" placeholder="Model Name" class="form-control" required="" />
		</div>
		<div class="col-md-3 col-sm-9">
			<label th:if="${#fields.hasErrors('brand')}" th:errors="*{brand.id}"
				class="validation-message"></label> <select th:field="*{brand.id}"
				placeholder="Brand" class="form-control" required="" >
				<option th:each="brand : ${brands}" th:value="${brand.id}"
					th:text="${brand.name}"></option>
			</select>
		</div>
		<div class="col-md-2 col-sm-9">
			<button type="submit" class="btn btn-primary btn-block">Save</button>
		</div>
	</div>
	
	<span class="success-message" th:utext="${successMessage}"></span>
</form>